.mdx {
  @apply font-normal text-lg container mx-auto;

  :first-child {
    @apply mt-0;
  }
  :last-child {
    @apply mb-0;
  }
  * {
    @apply mt-10;
  }

  a {
    @apply text-blue-600;
    &:visited {
      @apply text-purple-700;
    }
  }

  p {
    @apply -mb-3 font-serif;
  }

  pre {
    @apply text-base font-mono bg-gray-100 rounded-md p-4 mb-4;
  }

  img {
    @apply mx-auto;
  }
  :not(pre) code {
    @apply bg-gray-100 text-black;
    font-size: 85%;
    border-radius: 6px;
    padding: 0.2em 0.4em;
  }

  li {
    @apply mt-0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-sans;
  }

  h1 {
    @apply -mb-4;
    @apply text-4xl font-bold;
  }
  h2 {
    @apply -mb-7;
    @apply text-2xl font-medium;
  }
  h3 {
    @apply -mb-9;
    @apply text-xl font-semibold;
  }
  h4 {
    @apply -mb-9;
    @apply text-lg;
  }
  h5 {
    @apply -mb-10;
    @apply text-base font-light;
  }
  h6 {
    @apply -mb-11;
    @apply text-sm font-light italic;
  }
}
