$grey: #444444;
$grey-increment: 10;
$grey-100: saturate($grey, $grey-increment*1);
$grey-200: saturate($grey, $grey-increment*2);
$grey-300: saturate($grey, $grey-increment*3);
$grey-400: saturate($grey, $grey-increment*4);
$grey-500: saturate($grey, $grey-increment*5);
$grey-600: saturate($grey, $grey-increment*6);
$grey-700: saturate($grey, $grey-increment*7);
$grey-800: saturate($grey, $grey-increment*8);  
$grey-900: saturate($grey, $grey-increment*9);

.grey{
    background-color: #ff4444;
}